<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Visita nuestras redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fa-brands fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 align-items-center ">
            <!-- Content -->
            
              <a href="#" class="reset-text-uppercase d-flex align-items-center">
                  <img src="../../static/img/elherbario_logo.svg" alt="Logo HErbario" class="img-logo mr-6">
  
              </a>
          
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              ¿Quiénes somos?
            </h6>
            <p>
              El Herbario, una de las ofertas gastronómicas más recomendadas en Medellín, ofrece a sus comensales una cocina auténtica colombiana.
  
  
            </p>
            
          </div>
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Productos
            </h6>
            <p>
              Comida Gourmet
            </p>
            <p>
               Comida Rápida
            </p>
            <p>
              Comida Vegana
            </p>
            <p>
             Menú para Niños
            </p>
          </div>
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacto </h6>
            <p>Cra 43D #1030, El Poblado, Medellín</p>
            <p>
            elHerbario@gmail.com
            </p>
            <p>+57  312 8326475</p>
            <p>+57 312 897 2498</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    
    <!-- Copyright -->
  </footer>